{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "tarballDir": "archive"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "archive/*.tgz"
      }
    ]
  ]
}
